.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 40px;
  padding: 0 40px;

  box-shadow: 0 0 3px 0 lightgrey;
  h1 {
    font-size: 20px;

    font-weight: 800;
  }
  @media screen and (max-width: 400px) {
    height: 100px;
    padding: 0 20px;

    h1 {
      font-size: 15px;
    }
  }
}

.darkTheme {
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 0 6px 0 #000;
}

.toggleTheme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100px;
  width: 100%;
  cursor: pointer;
  img {
    width: 25px;
    height: auto;
  }
}
