.CountriesCard {
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  width: 100%;
  height: 250px;
  max-width: 200px;
  padding-bottom: 10px;

  align-self: center;
  justify-self: center;

  opacity: 0.8;

  transition: opacity 0.1s linear;

  h3 {
    font-weight: 800;
  }
  span {
    font-weight: 600;
  }

  &:hover {
    opacity: 1;
  }
}

.Flag {
  border-radius: 10px 10px 0 0;
  height: 50%;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
